.main-body {
    .menu-wrap {
        position: fixed !important;
        z-index: 100;
        top: 20px;
        left: 20px;
    }
    .open-drawer-button {
        left: 270px
    }
}

.profile-card {
    .profile-card-body {
        max-width: 900px;
        overflow: visible;
        width: 100%;
        height: auto;
        margin-top: -194px;

        .main-profile-card {
            background-color: #06A763;
            display: flex;
        }

        .profile-image-right {
            margin-left: auto;
            .slant {
                top: 0;
                z-index: 1;
                position: absolute;
                border-style: solid;
                border-width: 400px 0 0 100px;
                border-color: rgba(223, 50, 50, 0) transparent transparent #06A763;
            }
        }

        .profile-text-info {
            color: azure;
            padding: 50px;
        }
    }
}