.main-body {
    .menu-wrap {
        position: fixed !important;
        z-index: 100;
        top: 20px;
        left: 20px;
    }
    .open-drawer-button {
        left: 270px
    }
}

.section {
    max-width: 950px;
} 

.profile-card {
    .profile-card-body {
        overflow: visible;
        width: 100%;
        height: auto;
        margin-top: -194px;

        .main-profile-card {
            background-color: #06A763;
            display: flex;
        }

        .profile-image-right {
            margin-left: auto;
            .slant {
                top: 0;
                z-index: 1;
                position: absolute;
                border-style: solid;
                border-width: 400px 0 0 100px;
                border-color: rgba(223, 50, 50, 0) transparent transparent #06A763;
            }
        }

        .profile-text-info {
            padding: 50px 0px 0px 50px;

            .info-header {
                margin-bottom: 30px;
                
            }

            .profile-infos {
                padding: 0;
                margin: 0;
                min-height: 0;
            }
            .profile-info-icon {
                margin: 10px 20px 0px 0px
            }
            .profile-info-text {
                padding: 0;
                margin-top: 10px;
            }
        }

        .social-network-link {
            margin-top: 20px;

            .btn-floating {
                position: relative;
                overflow: hidden;
                z-index: 1;
                width: 37px;
                height: 37px;
                padding: 0;
                border-radius: 50%;
                transition: .3s;
                cursor: pointer;
            }
            .social {
                margin-left: 12px;
                margin-bottom: 4px;
                z-index: 0 !important;
                text-decoration: none;
                line-height: 2;
            }
            .social-icon {
                margin-left: 7px;
                margin-top: 2px;
            }

            .v-list-item {
                flex: 0;
                padding: 0;
                margin: 0;
                min-height: 0;
            }
        }
    }
}

.about-details {
    padding: 30px;
}